.breadcrumbs {
  &__inner {
    @include adaptiveValue('padding-top', 50, 20);
    @include adaptiveValue('padding-bottom', 40, 20);
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    li {
      position: relative;
      display: flex;
      @include adaptiveValue("font-size", 16, 14);

      &:not(:last-child) {
        &::after {
          content: '-';
          // padding: 0 em(8);
          @include adaptiveValue("padding-left", 8, 4);
          @include adaptiveValue("padding-right", 8, 4);
          color: $green;
        }

        >a {
          color: #b0bec5;

          @media (any-hover: hover) {
            &:hover {
              color: $mainColor;
            }
          }
        }
      }

      &:last-child {
        color: $mainColor;
        pointer-events: none;
      }
    }
  }
}
