// start home page
// start products

.products {
  background-color: #f4f6f5;

  // .products__container

  &__wrapper {
    max-width: $maxWidth + px;
    margin: 0 auto;
    @include adaptiveValue('padding-top', 110, 30);
    @include adaptiveValue('padding-bottom', 110, 30);
    @include adaptiveValue('padding-left', 30, 15);
    @include adaptiveValue('padding-right', 30, 15);
  }

  // .products__title

  &__title {
    @include adaptiveValue('margin-bottom', 30, 20, 1);
  }

  // .products__filters

  &__filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &:not(:last-child) {
      @include adaptiveValue('margin-bottom', 54, 30, 1);
    }
  }

  // .products__filters-btn

  &__filters-btn {
    // min-height: 37px;
    font-size: rem(14);
    cursor: pointer;
    font-weight: 500;
    margin-bottom: 6px;
    @include adaptiveValue('padding-left', 30, 15, 1);
    @include adaptiveValue('padding-right', 30, 15, 1);

    &:not(:last-child) {
      margin-right: 6px;
    }

    &.mixitup-control-active {
      color: #fff;
      background-color: #e74c3c;
    }
  }

  // .products__items

  &__items {
    display: grid;
    @include adaptiveValue("column-gap", 30, 5);
    @include adaptiveValue("row-gap", 30, 15);
    @include adaptiveValue('margin-bottom', 90, 30, 1);

    // grid-template-columns: repeat(auto-fit, minmax(min(calc(200px + (442 - 200) * (100vw - 320px) / (2400 - $minWidth)), 442px), 1fr));
    // grid-template-columns: repeat(auto-fit, minmax(min(calc(220px + (442 - 185) * (100vw - 320px) / ($maxWidth - $minWidth)), 442px), 1fr));
    @media (min-width:em($md1)) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: em($md2)) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: em($md4)) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  // .products__item

  &__item {}

  // .products__footer

  &__footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer-btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 32px;
    min-height: 52px;
    font-weight: 500;

    &:not(:last-child) {
      margin-right: 12px;
    }
  }

  // .products__new

  &__footer-new {}

  // .products__popular

  &__footer-popular {}
}

.item-product {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);

  // .item-product__image

  &__image {
    background-color: #b5b5b5;
    padding-bottom: calc(250 / 442 * 100%);
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  // .item-product__labels

  &__labels {
    position: absolute;
    top: 0;
    left: 0;
  }

  // .item-product__label

  &__label {
    border-left: solid #8bc34a;
    border-bottom: solid transparent;
    @include adaptiveValue("border-width", 64, 32);
    // border-width: 32px;
    // border: resp-value(32, 16) solid;
    // border-color: #8bc34a transparent transparent #8bc34a;
    // .item-product__label_zip

    &_zip {
      &::before {
        color: #fff;
        position: absolute;
        top: 12px;
        @include adaptiveValue("top", 12, 4);
        @include adaptiveValue("left", 18, 4);
        // left: resp-value(18, 5);
        // transform: translate3d(0, -50%, 0);
      }

    }
  }

  // .item-product__body

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 1 auto;
    @include adaptiveValue('min-height', 90, 70, 1);
    padding-top: 12px;
    padding-bottom: 12px;
    @include adaptiveValue('padding-right', 32, 12, 1);
    @include adaptiveValue('padding-left', 32, 12, 1);
    background-color: #fff;
    border-bottom: 1px solid #e7ecf2;
  }

  // .item-product__content

  &__content {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.15em;

    @include adaptiveValue('padding-right', 15, 10, 1);

    >:not(:last-child) {
      @include adaptiveValue('margin-bottom', 10, 4, 1);
    }
  }

  // .item-product__title

  &__title {
    font-weight: 500;
    @include adaptiveValue('font-size', 18, 16, 1);

  }

  // .item-product__category

  &__category {
    font-size: rem(14);
    color: #8bc34a;
  }

  // .item-product__prices

  &__prices {
    font-weight: 700;
    @include adaptiveValue('font-size', 20, 18, 1);
  }

  // .item-product__price

  &__price {}

  // .item-product__author

  &__author {
    display: flex;
    align-items: center;
    @include adaptiveValue('min-height', 68, 45, 1);
    @include adaptiveValue('padding-right', 32, 12, 1);
    @include adaptiveValue('padding-left', 32, 12, 1);
  }

  &__author-avatar {
    flex: 0 0 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #b5b5b5;
    @include adaptiveValue("margin-right", 14, 5);

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  // .item-product__author-name

  &__author-name {
    flex: 1 1 auto;
    font-weight: 500;
    font-size: rem(14);
    color: #546e7a;
    word-break: break-all; // перенос
    @include adaptiveValue("margin-right", 10, 0);

  }

  &__rating {
    flex: 0 0 auto;
  }

  // .item-product__votes

}

.star-rating {
  display: flex;

  &>:not(:last-child) {
    @include adaptiveValue("margin-right", 13, 2);
  }


  &__group {
    /* width: calc(12px * 5); */
    height: 12px;
    background-size: 12px;
    background-repeat: repeat-x;
    overflow: hidden;
    /* margin-right: 13px; */
  }

  &__star {
    height: 12px;
    background-size: 12px;
    background-repeat: repeat-x;
  }

  // .star-rating__values

  &__values {
    // line-height: calc(10px / 16px * 1em);
    line-height: 10px;
  }

  // .star-rating__value

  &__value {}

  // .star-rating__best-value

  &__best-value {}

  // .star-rating__votes

  &__votes {
    font-size: rem(12);
    color: #b0bec5;

    span {
      color: $mainColor;
    }
  }
}

// end products

// start product-slider
.product-slider {
  // padding: 110px 0px 120px;
  background-color: #fff;
  @include adaptiveValue("padding-top", 110, 25, 1);
  @include adaptiveValue("padding-bottom", 120, 20, 1);

  &__wrapper {
    max-width: $maxWidth + px;
    margin: 0 auto;
    padding: 0 30px;

    @media (max-width: em($md3)) {
      padding: 0 15px;
    }
  }

  &__inner {
    min-width: 0;
    @include adaptiveValue("margin-bottom", 67, 20, 1);
  }

  .swiper-wrapper {
    padding: 1px; // for box-shadow visibility
  }
}

// end product-slider

// start advantages
.advantages {
  background-color: $mainColor;
  padding: resp-value(110, 25) 0;

  &__title {
    color: #fff;
  }

  &__inner {
    @media (min-width: em($md3)) {
      display: flex;
      justify-content: space-between;

      &>:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__item {
    flex: 1 1 370px;
    display: flex;
    flex-direction: column;
    text-align: center;
    // align-items: center;
    // justify-content: center;

    @media (max-width: em($md3)) {
      // @include adaptiveValue("margin-bottom", 30, 15, 1);
      margin-bottom: resp-value(30, 15);
    }


    // padding: 0px 15px;

    &:hover {
      .advantages__item-img {
        background-color: $green;
      }

      .advantages__item-title {
        color: $green;
      }

      .advantages__item-img {
        g {
          fill: #fff;
        }
      }
    }

    &-img {
      width: 114px;
      height: 114px;
      background-color: #fff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      @include adaptiveValue('margin-bottom', 30, 15);
      transition: all .5s;
    }

    &-title {
      // flex: 1 1 auto;
      margin-bottom: 1em;
      @include adaptiveValue("font-size", 24, 18, 1);
      // font-size: rem(24);
      color: #fff;
      font-weight: 500;
      transition: all .5s;
    }

    &-text {
      font-size: rem(15);
    }
  }
}

// end advantages

// start author
.author {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // min-height: 750px;
  @include adaptiveValue("min-height", 750, 350, 1);
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    padding: 0 15px;
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    height: 50px; // ie11
    background-color: $green;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;

    @media (max-width: em($md3)) {
      flex-direction: column;
      text-align: center;
    }

  }

  &__title {
    @include adaptiveValue("font-size", 30, 24, 1);
    line-height: 1em;
    color: #fff;
    // margin-right: em(45, 30);
    max-width: 260px;

    span {
      font-weight: 700;
    }
  }

  &__link {
    font-size: rem(18);
    line-height: math.div(36, 18);
    padding: 15px 40px;
  }
}

// end author

// start tutorial
.tutorial {
  padding: resp-value(70, 20) 0 resp-value(120, 30);
  background-color: #fff;

  &__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: resp-value(30, 20);
  }

  &__item {

    &-img {
      padding-bottom: prc(270, 370);
    }

    &-title {
      background-color: #f8f8f8;
      // font-size: rem(24);
      @include adaptiveValue("font-size", 24, 20);
      text-align: center;
      font-weight: 700;
      padding: resp-value(30, 15) 15px;
      color: $mainColor;
      text-align: center;
    }
  }
}

// end tutorial
// end home page
// start product-page
.product-page {
  &__inner {
    // display: flex;
    @include adaptiveValue("padding-bottom", 110, 30);


    @media (min-width: em($md2)) {
      // display: block;
      display: grid;
      grid-template-columns: prc(270, $md1) 1fr;
    }
  }

  &__aside {
    // flex: 0 1 270px;

    // @media (min-width: em($md2)) {
    // @include adaptiveValue("margin-right", 30, 15);
    // }

    // @media (max-width: em($md2)) {
    // @include adaptiveValue("margin-bottom", 30, 15);
    // }

    .item-product {
      box-shadow: none;
      @include adaptiveValue("margin-bottom", 30, 15);

      &:not(:last-child) {
        @include adaptiveValue("padding-bottom", 30, 15);
        border-bottom: 1px solid #dde3e8;
      }

      // &__image {
      //   min-height: 120px;
      // }

      &__body {
        padding: 0;
        min-height: 75px;
        border-bottom: none;
        // flex: 0 0 auto;
      }

      &__author {
        padding: 0;
        min-height: 0;
      }

      // &__author-avatar {
      //   margin-right: 9px;
      // }

      &__title {
        font-size: rem(16);
      }

      &__prices {
        font-size: rem(16);
      }
    }

    .star-rating {
      &__group {
        margin-right: 0;
      }

      &__votes {
        display: none;
      }
    }
  }

  &__filter {
    background-color: #fff;
    border: 1px solid #dedede;
    padding: 0px 20px;
    @include adaptiveValue("margin-bottom", 30, 15);
    // @include adaptiveValue("min-height", 60, 30);
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {

      &:not(:last-child) {
        margin-right: 12px;
      }

      &.active {
        color: $green;
      }
    }
  }

  &__sort-btn {
    font-size: rem(18);
    color: #455a64;

  }

  &__unsorted-btn {
    margin-left: 12px;
    font-size: rem(14);
    color: #707070;
  }

  &__filter-sort {
    color: #707070;
    font-size: rem(14);
    display: flex;
    align-items: center;
  }

  &__btns {
    display: flex;
    color: #90a4ae;
  }

  &__content {

    .item-product {
      transition: flex-basis .5s, box-shadow .5s;
      // transition stops working because of flex-grow;
      flex-basis: calc(33.3333% - 30px);
      @include adaptiveValue("margin-left", 30, 10);

      @media (max-width: em($md1)) {
        flex-basis: calc(50% - resp-value(30, 10));
      }

      // @media (max-width: em($md4)) {
      //   flex-basis: 100%;
      // }

      &__body {
        @include adaptiveValue("padding-left", 23, 8);
        @include adaptiveValue("padding-right", 23, 8);

        @media (max-width: em($md4)) {
          flex-wrap: wrap;
          padding-top: 8px;
          padding-bottom: 8px;
        }
      }

      &__content {
        @media (max-width: em($md4)) {
          flex: 1 1 100%;
        }
      }

      &__title {
        font-size: rem(16);
      }

      &__author {
        padding-top: 5px;
        padding-bottom: 5px;
        min-height: 65px;
        @include adaptiveValue("padding-left", 23, 8);
        @include adaptiveValue("padding-right", 23, 8);

        @media (max-width: em($md3)) {
          flex-wrap: wrap;
          justify-content: flex-end;
        }
      }

      @media (any-hover: hover) {
        &:hover {
          box-shadow: 0px 15px 20px 0px rgba(69, 90, 100, 0.45);
        }
      }

      &__text {
        display: none;
      }

      &__prices {
        @media (max-width: em($md4)) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex: 0 0 100%;
        }
      }

      &__sales {
        display: none;
      }

      &__reviews {
        display: none;

        .icon-comment-o,
        .icon-heart-o {
          display: flex;
          align-items: center;
          font-size: rem(12);
          color: #70838d;
          padding-left: 18px;
          border-left: 1px solid #aeb4bb;
          position: relative;

          span {
            font-weight: 500;
            color: $mainColor;
          }

          &::before {
            font-size: rem(16);
            padding-right: 14px;
            color: $green;
            // position: absolute;
            // left: 20px;
            // top: 50%;
            // transform: translate3d(0, -50%, 0);
          }
        }

        .icon-comment-o {
          @include adaptiveValue("padding-right", 30, 5);

          &::before {
            // top: calc(50% - 1px);
          }
        }
      }
    }

    .product-items {
      // transition doesn't work with grid column change
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      @include adaptiveValue("margin-bottom", 30, 15);
      @include adaptiveValue("margin-left", -30, -10);
      @include adaptiveValue("row-gap", 30, 10);

      &_list {

        .item-product {
          flex-basis: 100%;

          @media (min-width: em($md3)) {
            flex-direction: row;
          }


          @media (any-hover: hover) {
            &:hover {
              .item-product__image {
                transform: translate3d(0, 9px, 0);
              }
            }
          }

          &__image {
            padding-bottom: prc(180, 870);
            flex: 0 0 240px;
            height: 100%;
            transition: transform .5s;
          }

          &__body {
            @include adaptiveValue("padding-top", 23, 15);
          }

          &__price {
            font-size: rem(30);
          }

          &__sales {
            display: block;
            font-size: rem(13);
            color: #aeb4bb;
            @include adaptiveValue("margin-top", 23, 15);

            @media (max-width: em($md4)) {
              margin-top: 0;
            }
          }

          &__text {
            display: block;
            font-size: rem(14);
            color: #70838d;
            margin-top: 10px;
            margin-bottom: 5px;
          }

          &__rating {
            @include adaptiveValue("margin-right", 30, 5);
            // margin-right: 30px;
          }

          &__reviews {
            display: flex;
          }
        }
      }
    }

    .star-rating {
      padding: 0;

      &__group {
        margin-right: 5px;
      }
    }
  }
}

.aside {
  min-width: prc(270, 1170);

  &__item {
    background-color: #fff;
    @include adaptiveValue("padding-top", 25, 15);
    @include adaptiveValue("padding-right", 30, 15);
    @include adaptiveValue("padding-bottom", 30, 15);
    @include adaptiveValue("padding-left", 30, 15);

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);
    }

    border: 1px solid #dedede;
    // @include adaptiveValue("min-width", 270, 180);

  }

  &__title {
    border-bottom: 1px solid #dde3e8;
    @include adaptiveValue("font-size", 20, 18);
    color: $mainColor;
    @include adaptiveValue("padding-bottom", 19, 11);

    // padding: 25px 0px 19px;
    font-weight: 700;

    ._init & {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      border-bottom: 0;
      padding-bottom: 0;

      &::before {
        content: "\f107";
        font-family: icons;
        transition: transform .3s;
        color: $green;
        transform: rotate(0deg);
        font-size: rem(30);
      }

      &._active {
        border-bottom: 1px solid #dde3e8;
        padding-bottom: 15px;

        &::before {
          transform: rotate(180deg);
        }
      }
    }


  }

  &__product-items {
    display: grid;

    @media (max-width: em($md2)) {
      grid-template-columns: repeat(auto-fit, minmax(295px, 1fr));
      column-gap: 15px;
    }

    @include adaptiveValue("padding-top", 30, 15);
  }

}

.category__list {
  padding-top: 10px;

  li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    @include adaptiveValue("font-size", 16, 14);

    @media (any-hover: hover) {
      &:hover {
        color: $green;
      }
    }

    &::before {
      transform: translate3d(0, -2px, 0);
      color: $green;
      margin-right: 13px;
      @include adaptiveValue("font-size", 18, 16);
    }

    a {
      flex: 1 1 auto;

      span {
        color: #90a4ae;
        margin-left: 10px;
      }
    }
  }
}

.price-range {
  &__form {
    padding-top: 20px;
  }

  &__btn {
    padding: 16px 10px;
    font-weight: 500;
    width: 100%;

    &::before {
      padding-right: 10px;
      font-size: rem(15);
    }
  }
}

.top-sellers {
  // @media (max-width: em($md2)) {
  //   display: none;
  // }

  &__link {
    padding: 16px 10px;
    width: 100%;
    font-weight: 500;
  }
}


// end product-page

// start product-details
.product-details {
  @include adaptiveValue("padding-bottom", 100, 30);

  &__container {
    @media (min-width: em($md2)) {
      display: flex;
    }
  }

  &__content {
    @media (min-width: em($md2)) {
      @include adaptiveValue("margin-right", 30, 15);
    }

    // max-width: 870px;
  }

  &__img-inner {}


  &__title {
    @include adaptiveValue("font-size", 30, 18);
    // color: $mainColor;
    line-height: em(40, 30);
    font-weight: 500;
    margin-top: em(37, 30);
    margin-bottom: em(30, 30);
    text-align: left;
  }

  &__text {
    color: #707070;
    @include adaptiveValue("margin-bottom", 35, 15);
  }

  &__box {
    @include adaptiveValue("margin-bottom", 55, 15);
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    align-items: center;

    @media (max-width: em($md3)) {
      row-gap: 15px;
      flex-direction: column;
    }
  }

  &__btn-list {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: em($md4)) {
      display: block;
      width: 100%;
    }

    // justify-content: space-between;
    // gap: 18px;
    a {
      // flex: 1 1 150px;
      @include adaptiveValue("min-width", 150, 100);
      color: $grey;
      font-size: rem(14);
      padding: 16px 8px;
      font-weight: 500;

      @media (max-width: em($md4)) {
        width: 100%;
        margin: 0;
      }
    }
  }

  &__btn-list-item {

    &+& {
      margin-top: 10px;

      @media (min-width: em($md4)) {
        margin-top: 0;
        margin-left: 10px;
      }
    }

    @media (any-hover: hover) {
      a:hover {
        color: inherit;
      }
    }
  }

  &__socials-list {
    display: flex;
  }

  &__socials-item {
    &:not(:last-child) {
      margin-right: 3px;
    }
  }

  &__socials-link {
    width: 54px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
      font-size: rem(18);
      color: #fff;
    }
  }

  &__more-title {
    font-size: rem(18);
    font-weight: 500;
    color: $mainColor;
    padding: resp-value(18, 15) resp-value(25, 15);
    background-color: #fff;
    border: 1px solid #dcdcdc;
    @include adaptiveValue("margin-bottom", 28, 15);
    // margin-bottom: 28px;
  }

  &__more-icons {
    // display: flex;
    // justify-content: space-between;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    @include adaptiveValue("gap", 30, 10);
    @include adaptiveValue("margin-bottom", 30, 15);

  }
}


.productmini {
  display: flex;
  height: 90px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);

  &__img {
    width: 100px;

    // flex: 0 0 100px;
    // height: 100%;
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding-left: 20px;
  }

  &__title {
    font-weight: 500;
    font-size: rem(14);
    color: $mainColor;
  }

  &__category {
    color: $green;
    font-size: rem(12);
  }

  &__price {
    font-weight: 700;
    font-size: rem(18);
    color: $mainColor;
  }
}

.product-tabs {
  &__tabs-block {
    @include adaptiveValue("margin-bottom", 55, 15);
  }
}

.tabs-block {
  border: 1px solid #dcdcdc;

  // .tabs-block__nav
  &__nav {
    // @media (min-width: em($md3)) {
    display: flex;
    flex-wrap: wrap;
    // }

    // margin: 0px -2px;

  }

  // .tabs-block__item
  &__item {
    flex: 0 1 25%;
    // margin: 0px 2px;
    color: #70838d;
    background-color: #fff;
    @include adaptiveValue("padding", 20, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid #dcdcdc;
    position: relative;

    &::before {
      // position: absolute;
      // left: 0;
      // top: calc(50% - 1px);
      // transform: translate3d(0, -50%, 0);
      // flex: 0 0 20px;
      width: 27px;
      color: $green;
      font-size: rem(14);
    }

    &+& {
      border-left: 1px solid #dcdcdc;
    }

    @media (max-width: em($md3)) {
      flex: 0 1 50%;

      &:nth-child(odd) {
        border-left: none;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        color: $mainColor;

      }
    }

    &._active {
      color: $mainColor;

      &::after {
        content: '';
        width: 100%;
        height: 3px;
        background-color: #8bc34a;
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }

  }

  // .tabs-block__body
  &__body {
    @include adaptiveValue("padding-top", 30, 10);
    @include adaptiveValue("padding-right", 35, 10);
    @include adaptiveValue("padding-bottom", 60, 10);
    @include adaptiveValue("padding-left", 50, 10);
  }

  // .tabs-block__block
  &__block {}

  &__block-list {
    // display: inline-flex;
    // flex-direction: column;
    // flex-wrap: wrap;
    // max-height: 180px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 10px;
  }

  &__block-item {
    color: #707070;
    line-height: calc(36px / 16px * 1em);

    display: flex;
    align-items: center;
    // position: relative;

    &::before {
      content: '';
      background-image: url(../img/icons/arrow-down.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      height: 6px;
      width: 10px;
      // position: absolute;
      // top: 50%;
      // left: -19px;
      // transform: rotate(90deg) translate3d(-3px, 0, 0);
      transform: rotate(-90deg);
      margin-right: 13px;

    }
  }

  &--vertical {
    display: grid;
    border: none;
    gap: 30px;

    @media (min-width: em($md3)) {
      grid-template-columns: resp-value(270, 150) 1fr;
      // grid-template-columns: prc(270, 1170) 1fr;
    }
  }

  &--vertical & {
    &__nav {
      display: block;
      align-self: start;
      border: 1px solid #dedede;
      border-bottom: none;
      text-align-last: left;
    }

    &__item {
      display: block;
      width: 100%;
      padding: 17px;
      @include adaptiveValue("padding-left", 22, 17);
      color: #707070;
      font-size: rem(14);
      font-weight: 500;
      border-left: none;

      &._active {
        color: #37474f;

        &::after {
          height: 2px;
        }

        &::before {
          color: $green;
        }
      }

      &:before {
        // @include adaptiveValue("left", 24, 7);
        color: #444;
      }
    }

    &__body {
      width: 100%;
      padding: 0;
      border: none;
      background-color: transparent;
    }
  }
}

.product-price {
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include adaptiveValue("padding-top", 30, 15);
    @include adaptiveValue("padding-bottom", 30, 15);

    .select {
      &__value {
        min-height: 100%;
        padding: 0 10px;
      }

      &__option {
        padding: 0 10px;
      }
    }
  }

  &__product {
    font-size: rem(22);
    font-weight: 500;
    color: $red;
  }

  &__btn {
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);
    font-weight: 700;
    min-height: 50px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 7px;
    }

    &::before {
      padding-right: 8px;
    }
  }

  .icon-heart-o {
    background-color: #42a5f5;
  }
}

.product-author {
  &__box {
    // padding: 25px 0;
    @include adaptiveValue("padding-top", 25, 15);
    @include adaptiveValue("padding-bottom", 25, 15);
    display: flex;
    flex-wrap: wrap;
  }

  &__avatar {
    margin-right: 14px;
  }

  &__info {
    // flex: 0 0 auto;
  }

  &__name {
    font-size: rem(18);
    color: $mainColor;
    margin-bottom: 2px;
    word-break: break-all;
  }

  &__btn {
    color: #707070;
    font-size: rem(13);
    padding: 6px 9px 5px;
    border: 1px solid #d6d6d6;

    @media (any-hover: hover) {
      &:hover {
        background-color: $mainColor;
        color: #fff;
      }
    }
  }

  &__awards-list {
    display: flex;
    flex-wrap: wrap;

    li {
      display: inline-block;
      color: #fff;
      font-size: rem(20);
      text-align: center;
      position: relative;
      // width: prc(34, 208);
      flex: 0 0 34px;
      height: 37px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      &::before {
        position: absolute;
        top: calc(50% - 2px);
        transform: translate3d(0, -50%, 0);
        left: 0;
        right: 0;
      }

      &:not(:last-child) {
        margin-right: 4px;
      }
    }

    .icon-meh-o {
      background-image: url(../img/awards/awards-orange.png);
    }

    .icon-pagelines {
      background-image: url(../img/awards/awards-red.png);
    }

    .icon-flash {
      background-image: url(../img/awards/awards-blue.png);
    }

    .icon-foursquare {
      background-image: url(../img/awards/awards-green.png);
    }

    .icon-yen {
      background-image: url(../img/awards/awards-grey.png);
    }
  }
}

.sales-number {
  @include adaptiveValue("padding-bottom", 23, 15);
  @include adaptiveValue("padding-top", 23, 15);

  &__sales {
    font-size: rem(16);
    font-weight: 700;
    color: #707070;

    span {
      font-size: rem(20);
      font-weight: 700;
      color: #263238;
      padding-right: 13px;

      &::before {
        color: #a6b5bb;
        padding-right: 20px;
      }
    }
  }
}

.product-info {
  &__line {
    font-size: rem(14);
    color: #70838d;
    margin-top: 20px;
    line-height: 18px;

    span {
      color: $mainColor;
      font-weight: 500;
    }
  }
}

// end product-details

// start page 404
.page-404 {
  &__inner {
    text-align: center;
    background-color: $green;
    color: #fff;
  }

  &__404 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    @include adaptiveValue("font-size", 300, 100, 1);
    padding-top: em(70, 300);
    padding-bottom: em(20, 300);
    line-height: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    margin-left: 20px;
    flex: 0 0 calc(150 / 1168 * 100%);

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  &__title {
    margin-bottom: 1em;
    font-weight: 700;
    @include adaptiveValue("font-size", 30, 16, 1);
    // font-size: rem(30);
  }

  &__text {
    max-width: prc(701, 1127);
    margin: 0 auto;
    font-size: rem(18);
    @include adaptiveValue("font-size", 18, 14, 1);
    @include adaptiveValue("margin-bottom", 60, 18, 1);
  }

  &__link {
    color: #fff;
    font-size: rem(14);
    text-transform: uppercase;
    padding: em(20, 14) em(30, 14) em(16, 14);
    border: 1px solid #fff;
    border-radius: 4px;
    @include adaptiveValue("margin-bottom", 100, 30, 1);

    @media (any-hover: hover) {
      &:hover {
        color: $green;
        background-color: #fff;
      }
    }
  }
}

// end page 404

// start about
.about {
  &__inner {}

  .about__box {
    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 40, 15, 1);
      // margin-bottom: 40px;
    }

    p {
      @include adaptiveValue("font-size", 16, 14, 1);
    }
  }

  &__text-title {
    @include adaptiveValue("font-size", 20, 16, 1);
    font-weight: 700;
    color: #444;
    // margin-top: 40px;
    margin-bottom: 15px;
  }
}

// end about

// start contact
.contact {
  &__head {
    @include adaptiveValue("padding-left", 40, 15);
    @include adaptiveValue("padding-right", 40, 15);
    // padding-left: em(40, 24);
    // padding-right: em(40, 24);
  }

  &__inner {
    @include adaptiveValue("padding-top", 35, 15);
    @include adaptiveValue("padding-bottom", 35, 15);
    @include adaptiveValue("padding-left", 40, 15);
    @include adaptiveValue("padding-right", 40, 15);
    // padding-bottom: 15px;
  }

  &__map {
    @include adaptiveValue("margin-bottom", 50, 15);
    padding-bottom: prc(415, 1088);
    position: relative;

    @media (max-width: em($md3)) {
      padding-bottom: 56.25%;

    }

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      // height: 415px;
    }
  }

  &__box {
    @media (min-width: em($md3)) {
      display: flex;
    }
  }

  &__info {
    @include adaptiveValue("margin-right", 30, 15);
    flex: 0 1 330px;

    @media (max-width: em($md3)) {
      margin-bottom: 30px;
    }
  }

  &__info-item {

    &:not(:last-child) {
      @include adaptiveValue("margin-bottom", 30, 15);

    }
  }

  &__info-title {
    padding-bottom: 20px;
    position: relative;
    font-size: rem(20);
    font-weight: 500;
    color: $mainColor;
    @include adaptiveValue("padding-left", 40, 25);

    margin-bottom: 20px;
    // display: grid;
    // grid-template-columns: 40px 1fr;

    &::after {
      content: '';
      width: 44px;
      height: 4px;
      background-color: $green;
      position: absolute;
      @include adaptiveValue("left", 40, 25);
      bottom: 0;
    }

    &::before {
      color: $green;
      font-size: rem(21);
      position: absolute;
      left: 0;
    }
  }

  &__info-content {
    @include adaptiveValue("padding-left", 40, 25);
    color: #707070;
    max-width: 230px;
  }

  &__form {
    flex: 1 1 auto;

    .form {
      &__btn {
        margin-top: 23px;
        min-height: 52px;
      }

      &__row {
        // grid-template-columns: repeat(2, 1fr);
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
      }

      &__input {
        flex: 1 1 auto;
      }
    }
  }

  &__form-title {
    margin-bottom: 25px;
    font-size: rem(24);
    font-weight: 500;
    color: #333;
  }
}

// end contact

// start settings
.settings {
  @include adaptiveValue("padding-bottom", 100, 20);

  .form {
    &__btn {
      min-height: 46px;
    }
  }
}

.page-box {
  background-color: #fff;
  border: 1px solid #dedede;
  min-height: 100%;

  &__title {
    padding: em(18, 24) resp-value(34, 15);
    color: $mainColor;
  }

  &__content {
    @include adaptiveValue("padding-top", 30, 15);
    @include adaptiveValue("padding-right", 35, 15);
    @include adaptiveValue("padding-bottom", 80, 15);
    @include adaptiveValue("padding-left", 35, 15);
    // @media (max-width: em($md1)) {
    // padding: resp-value(30, 15) resp-value(35, 15) resp-value(80, 20);
    // }
  }
}

// end settings

//start profile
.profile {
  &__container {
    display: flex;

    @media (max-width: em($md2)) {
      flex-direction: column-reverse;
    }

    margin-bottom: 30px;
  }

  &__socials {
    @include adaptiveValue("margin-bottom", 30, 10);
  }

  &__aside {
    @media (min-width: em($md2)) {
      margin-right: 30px;
      // max-width: 270px;
      // width: 100%;
    }

    & .footer__social-link {
      margin-bottom: 30px;
    }
  }

  &__content {
    width: 100%;

    @media (max-width: em($md2)) {
      // @include adaptiveValue("margin-bottom", 30, 10);
      margin-bottom: resp-value(30, 10);
    }
  }

  &-status {
    padding-left: 30px;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      left: 11px;
      top: 50%;
      transform: translateY(-50%);
      width: 9px;
      height: 9px;
      border-radius: 50%;
    }

    &--online {
      &::before {
        background-color: $green;
      }
    }

    &--offline {
      &::before {
        background-color: $red;
      }
    }
  }

  &__aside-btns {}

  &__aside-btn {
    width: 100%;
    font-weight: 500;
    padding: 18px 10px;
    // position: relative;
    box-shadow: 0px 1px 2px 0px rgba(69, 90, 100, 0.75);

    &:not(:last-child) {
      margin-bottom: 17px;
    }

    &--message {

      background-color: $text;

      &::before {
        margin-right: 12px;
        line-height: em(14);
        transform: translate3d(0, -1px, 0);
      }
    }
  }

  &__banner {
    padding: 20px;
    margin-bottom: 35px;
  }

  &__banner-img {
    @media (min-width: em($md2)) {
      padding-bottom: 332px;
    }
  }

  &__items {}

  &__item-stars {
    justify-content: center;
  }

}

.profile-info {
  display: flex;
  border: 1px solid #dedede;
  flex-wrap: wrap;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 25%;
    background-color: #fff;
    text-align: center;
    padding: 0 5px;
    min-height: 78px;
    font-size: rem(14);
    font-weight: 500;
    color: $mainColor;

    &+& {
      border-left: 1px solid #dedede;
    }

    @media (max-width: em($md4)) {
      &:last-child {
        border-left: none;
      }

      &:not(:last-child) {
        border-bottom: 1px solid #dedede;
      }
    }

  }

  &__item-title {}

  &__item-content {
    color: #707070;
  }

  &__item-sales {}
}

.profile-settings {
  &__container {}

  &__tabs-block {
    @include adaptiveValue("padding-bottom", 115, 30);
  }
}

.personal-box {
  background-color: #fff;
  @include adaptiveValue("padding-top", 35, 15);
  @include adaptiveValue("padding-right", 40, 15);
  @include adaptiveValue("padding-left", 40, 15);
  @include adaptiveValue("padding-bottom", 25, 15);

  // padding: 35px 40px 25px;
  border: 1px solid #dedede;

  &__title {
    margin-bottom: 25px;
    font-weight: 700;
    color: $mainColor;
    font-size: rem(20);
  }

  &__text {
    margin-bottom: 20px;

    p {
      color: #707070;
    }
  }
}

.progress-bar {
  &__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__name {
    font-weight: 500;
    color: $mainColor;
    font-style: italic;
  }

  &__number {
    font-weight: 700;
    font-size: rem(16);
    color: $mainColor;
  }

  &__lane {
    height: 15px;
    background-color: #f4f4f4;
    border-radius: 3px;
    margin-bottom: 23px;

    span {
      display: block;
      height: 15px;
      border-radius: 3px;
      background-image: url(../img/pro-bar.jpg);
      background-repeat: repeat;
    }
  }
}

//  end profile

// start upload

.upload {
  &__inner {}

  &__form-btn {
    font-weight: 500;
    padding: 15px 36px;
  }

  &__inner-content {

    // margin-bottom: 30px;
    // padding-left: 45px;
    // padding-right: 50px;
    // .form {

    // }
  }

  &__row {
    font-size: rem(15);

    @media (min-width: em($md3)) {
      grid-template-columns: 175px 1fr;
    }
  }
}


// end upload

// strat withdrawals
.withdrawals {
  &__container {

    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    @media (min-width: em($md2)) {
      display: grid;
      @include adaptiveValue("gap", 30, 10);
      grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
    }
  }

  &__col {
    flex: 1 1 40%;
    // background-color: #fff;
    // border: 1px solid #dedede;
    height: 100%;

    @media (max-width: em($md2)) {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__title {
    color: $mainColor;
  }

  &__content {

    button {
      margin-bottom: 10px;
      padding: 15px 36px;
    }
  }

  &__form-line {
    display: block;
    // margin-bottom: 25px;

    // label {

    // }
  }

  &__label {
    display: block;
    // width: 100%;
    // font-size: rem(16);
    font-weight: 500;
    margin-bottom: 15px;
    color: $mainColor;
    padding: 0;
  }
}

.table-content {
  @media (max-width: em($md4)) {
    // width: 320px;
    overflow-x: auto;
  }


  &__table {
    padding-bottom: 35px;
    border-collapse: collapse;
  }

  &__item {
    // display: flex;
    // column-gap: 5px;
    // align-items: center;
    // justify-content: space-evenly;
    height: 42px;
    font-size: rem(13);
    color: #444;
    white-space: nowrap;

    &:nth-child(odd) {
      background-color: #f9f9f9;
    }
  }

  &__date {
    // width: 154px;
    // flex: 0 0 154px;
    // padding-left: 20px;
    font-weight: 500;
  }

  &__email {
    // width: 180px;
    // flex: 0 1 180px;
    font-weight: 500;
  }

  &__price {
    // width: 70px;
    // flex: 0 1 70px;
    font-weight: 700;
  }

  &__status {
    // width: 88px;
    // flex: 0 1 88px;
    font-weight: 700;

    &.table-content__paid {
      color: $green;
    }
  }
}

// ens withdrawals
