@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: Roboto,
Arial,
"Helvetica Neue",
Helvetica,
sans-serif;
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1170;
$md1: $maxWidthContainer+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #263238;
$text: #546e7a;
$red: #e74c3c;
$green: #8bc34a;
$grey: #f4f6f5;
$yellow: #fcb322;
$tomato: #ef6c00;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";

body {
	color: $text;
	font-size: $fontSize + px;
	line-height: calc(24 / $fontSize * 1em);
	font-family: $fontFamily;
	background-color: $grey;

	&._lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	&._loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	// [class*="__container"] {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	box-sizing: content-box;
	padding: 0 15px;

	// @media (max-width: $md1 + px) {
	// 	max-width: 970px;
	// }

	// @media (max-width: $md2+px) {
	// 	max-width: 750px;
	// }

	@media (max-width: em($md4)) {
		// max-width: none;
		padding: 0 8px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================


//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;

	// .page__products
	&__products {}

	&__block-title {
		@include adaptiv-value("font-size", 24, 18);
		// font-size: resp-value(24, 18);
		color: #444;
		padding: em(23, 24) resp-value(27, 15);
		// min-height: em(69, 24);
		// display: flex;
		// align-items: center;
		font-weight: 500;
		border-bottom: 1px solid #dcdcdc;
	}

	&__block-wrapper {
		border: 1px solid #dcdcdc;
		background-color: #fff;
		@include adaptiv-value("margin-bottom", 150, 50, 1);
	}

	&__content {}
}

//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
// @import "lightgallery";
@import "nouislider";
@import "popup";
@import "pagging";
@import "breadcrumbs";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================